<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 footer-title py-5">
          <h1 class="text-capitalize text-center">
            <strong class="banner-title">Sharma Shop</strong>
          </h1>
          <h6 class="text-capitalize text-center">
            <strong class="banner-title"><p class="copy">© {% now 'Y' %} SharmaShop. All Rights Reserved.</p></strong>
          </h6>
          
        </div>
        <div class="col-md-6 footer-contact text-center text-capitalize p-5">
          <h3 class="mb-5">contact</h3>
          <p class="d-flex flew-wrap">
            <span class="mr-4 footer-icon">
              <i class="fas fa-map"></i>
            </span>
            <span>
              Krishnabrahm,Buxar ,Bihar
            </span>
          </p>
          <p class="d-flex flew-wrap">
            <span class="mr-4 footer-icon">
              <i class="fas fa-phone"></i>
            </span>
            <span>
              mob: +91 7903296673
            </span>
          </p>
          <p class="d-flex flew-wrap">
            <span class="mr-4 footer-icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span>
              email@email.com
            </span>
          </p>
        </div>
      </div>
    </div>
  </footer>